node_modules/
dist/
!frontend/dist/
.env
!.env.sample
!.env.example
!.env.production
*.pyc
__pycache__/
.venv/
logs/
.vscode/
*.log
*.tsbuildinfo
package-lock.json
tests/screenshot_*.png

tests/results/
